<footer style="display: flex; align-content: center; align-items: end;justify-content: center;color: white;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1"
            d="M0,256L120,250.7C240,245,480,235,720,218.7C960,203,1200,181,1320,170.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
        </path>
    </svg>
    <h2 style="text-align: center;
    position: absolute;">Love to made by pravin</h2>
</footer>